@font-face {
  font-family: 'Arial';
  src: url(./assets/fonts/bpg_arial_2009.ttf);
}

body {
  margin: 0;
  font-family: 'Arial' sans-serif;
  background-color: #b5c0c7;
  color: #232323;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
